@page
@model Basics.Pages.Razor.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h1>Index page, anyone can visit this inside public folder.</h1>
    <div>

    </div>
</body>
</html>