@@page
@model Basics.Pages.Razor.Policy

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h1>Secured by a policy Admin</h1>
    <div>

    </div>
</body>
</html>