@page
@model Basics.Pages.Razor.Secured

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h1>This is a secured page.</h1>
    <div>

    </div>
</body>
</html>
